html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F6F6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next{
  height: 100%;
  width: 100%;
}

.reportbox-radius {
  border-radius: 2rem;
}

.slick-dots li div{
  background-color: black;
}
.slick-dots li.slick-active div{
  background-color: white;
  border-color: black;
}

